@model APP_WEB_MVC_LOCALDB.Models.DatosBancarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DatosBancarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_cuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
