@model APP_WEB_MVC_LOCALDB.Models.Vehiculo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numBastidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numBastidor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
